
<div class="card">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew(1)"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table
        #dt
        [value]="categorias"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="flex items-center justify-between">
                <h5 class="m-0">Manage Products</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" style="min-width:15rem">Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th pSortableColumn="descripcion" style="min-width:10rem">Descripcion <p-sortIcon field="descripcion"></p-sortIcon></th>
                <th pSortableColumn="correlativo">correlativo <p-sortIcon field="correlativo"></p-sortIcon></th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-categoria>
            <tr>
                <td>{{ categoria.id }}</td>
                <td>{{ categoria.nombre}}</td>
                <td>{{ categoria.descripcion }}</td>
                <td>{{ categoria.correlativo }}</td>
                <td class="flex gap-1">
                    <button pButton pRipple size="small" icon="pi pi-pencil" class="p-button-rounded mr-2 !bg-yellow-500" (click)="editCategoria(categoria)"></button>
                    <button pButton pRipple size="small" severity="danger" icon="pi pi-trash" class="p-button-rounded" (click)="deleteCategoria(categoria)"></button>
                    <button pButton pRipple size="small" severity="info" icon="pi pi-eye" class="p-button-rounded" (click)="deleteCategoria(categoria)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">In total there are {{ categorias ? categorias.length : 0 }} products.</div>
        </ng-template>
    </p-table>
</div>
<p-dialog [(visible)]="categoriaDialog" [style]="{ width: '450px' }" header="Product Details" [modal]="true" styleClass="p-fluid">
    <app-categoria-form [categoria]="categoria" [operation]="operation" (hideDialog)="hideDialog($event)"></app-categoria-form>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>